*{
    margin: 0;
    padding: 0;
}
/* navbar */
.navbar{
    width: 100vw;
    height: 12vh;
    position: relative;
}
li a span:hover{
    color: blue;
    font-size: 1rem;
}
/* display */
.outerdisplay{
    width: 100vw;
    min-height: 76vh;
    background-color: antiquewhite;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dsply1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table ,th,td{
    border: 2px solid black;
    font-weight: 600;
}
table th,td{
    width: 12rem;
    text-align: center;
}

/* footer */
.footer{
    height: 12vh;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
}
.fp{
    margin: auto;
    font-size: 1rem;

}